<% provide(:title, 'Cascarea') %>


      <!--Contenido principal-->

    <div id="contenido" class="container-fluid">
      <div class="row">

        <div class="col-md-2 col-md-push-2">
          <h1 class="descripcion">Aquí puedes armar tu liga, como quieras, donde quieras.</h1>
        </div>

        <div class="col-md-3 col-md-push-3">

          <form class="form-horizontal" role="form">

            <div class="form-group col-sm-11">
              <select class="form-control">
                <option>Selecciona deporte</option>
                <option>Fútbol</option>
                <option>Basketball</option>
                <option>Box</option>
                <option>Crea el tuyo</option>
              </select>
            </div>

            <div class="form-group">  
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail3" placeholder="Nombre del torneo">
              </div>
            </div>

            <div class="form-group col-sm-11">
              <select class="form-control">
                <option>Selecciona la modalidad</option>
                <option>Copa (fase de grupos y liguilla)</option>
                <option>Fase de grupos</option>
                <option>Liguilla</option>
                <option>Liga completa</option>
              </select>
            </div>

            <div class="form-group col-sm-11">
              <select class="form-control">
                <option>¿Quienes juegan?</option>
                <option>Humanos</option>
                <option>Maquinas</option>
                <option>Humanos y maquinas</option>
                <option>Animales</option>
                <option>Animales y maquinas</option>
                <option>Zombies</option>
              </select>
            </div>

          </form>

          <button type="button" class="btn btn-success btn-lg">CreaCáscara</button>
          
        </div>

        
      </div>
    </div>

    <div id="contenido" class="container-fluid">
      <div class="row">

        <div class="col-md-2 col-md-push-2">

          <div id="cuestionario">

          <h3 class="parametros text-center">Tiempos</h3><br>

          <form role="form">
            <div class="form-group">
              <h4>¿Cuando empieza?</h4>
              <input type="date" class="form-control">
            </div>
            <div class="form-group">
              <h4>¿Cuanto juegan?</h4>
              <select class="form-control">
                <option>1 vez por semana</option>
                <option>2 veces por semana</option>
                <option>Diario</option>
                <option>1 vez al mes</option>
                <option>2 veces al mes</option>
              </select>
            </div>
            <div class="form-group">
              <h4>¿A que hora?</h4>
              <select class="form-control">
                <option>Fines en la tarde</option>
                <option>Fines en la mañana</option>
                <option>Entre semana</option>
              </select>
            </div>

            </div>

          </div>

      </div>



    </div>

    <footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
      <script src="./js/jquery.liquid-slider.min.js"></script>  
      <script>
        $('#main-slider').liquidSlider();
      </script>
    </footer>