<% provide(:title, 'liga') %>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="index.html"><img src="images/brand.png"></a>

        </div>

        
        <div class="collapse navbar-collapse navbar-ex1-collapse">

          <form id="busca" class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="¿Que quieres jugar?">
            </div>
            <button type="submit" class="btn btn-default">Cascarea</button>
          </form>

          <ul class="nav navbar-nav navbar-right navbar-user">

            <li>

              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 


                <div class="derecha">
                <div class="botones">
                <button type="button" class="btn btn-default btn-md"><span class="glyphicon glyphicon-edit"></span>
                </button>
                </div>
                </div>

              </a>
              
              <ul class="dropdown-menu">
                <li class="dropdown-header">Pok</li>
               
                
                <li class="divider"></li>
                <li>
                  <span>
                      <textarea rows="4" cols="50">
                        Cuenta que trampa
                      </textarea>
                      <button id="comenta" type="button" class="btn btn-default btn-md"><span class="glyphicon glyphicon-comment"></span>
                    </button>
                  </span>                  
                </li>

              </ul>

            </li>
            <li>

              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 

                <div class="derecha">
                <div class="botones">
                <button type="button" class="btn btn-default btn-md"><span class="glyphicon glyphicon-plus"></span>
                </button>
                </div>
                </div>

              </a>

              <ul class="dropdown-menu">
                <li><a href="#"><span class="label label-success">Crea un nuevo equipo</span></a></li>
                <li><a href="crealiga.html"><span class="label label-success">Crea un nuevo torneo</span></a></li>
              </ul>
            </li>


            <li class="dropdown user-dropdown">
              
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="images/profilepic.png"><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Perfil</a></li>
                <li><a href="#">Configuración</a></li>
                <li class="divider"></li> 
                <li><a href="#"><i class="fa fa-power-off"></i>Cerrar sesión</a></li>
              </ul>
            </li>
          </ul>
        </div>

      </nav>

      <!--Contenido principal-->

    <div id="contenido" class="container-fluid">
      <div class="row">
        <div class="col-md-1 col-md-push-2">
          <img src="images/avatarliga.png"> <br><br>
          <img id="avatar" src="images/verificada.png"> <br><br>
          <div class="stars">
                
                <div class="rating" style="width:65%"></div>
                <input type="radio" name="rating" id="star5" value="5">
                <label for="star5"></label>
                <input type="radio" name="rating" id="star4" value="4">
                <label for="star4"></label>
                <input type="radio" name="rating" id="star3" value="3">
                <label for="star3"></label>
                <input type="radio" name="rating" id="star2" value="2">
                <label for="star2"></label>
                <input type="radio" name="rating" id="star1" value="1">
                <label for="star1"></label><br><br>

          </div>

        </div>
        <div class="col-md-3 col-md-push-3">

          <table class="table table-hover">
            <tr>
              <td class="text-center"><a href="#">Futbol 7</a></td>
              <td class="text-center"><button type="button" class="btn btn-primary">Lista de torneos</button></td>
            </tr>
            <tr>
              <td class="text-center"><a href="#">Zona oriente</a></td>
              <td class="text-center"><a href="#">Avenida Oceania #420</a></td>
            </tr>
            <tr>
              <td class="text-center">Seguidores</td>
              <td class="text-center">Siguiendo</td>
            </tr>
            <tr>
              <td class="text-center"><a href="amigos.html">85</a></td>
              <td class="text-center"><a href="amigos.html">90</a></td>
            </tr>
          </table><br>

          <div id="bajo">
          <button type="button" class="btn btn-warning">Inscribe tu equipo</button>
          <button type="button" class="btn btn-warning">Solicita tu registro</button>
          </div>

        </div>

        <div id="acciones" class="col-md-3 col-md-push-4">
          <button id="seguir" type="button" class="btn btn-warning">Seguir</button><br><br>
          <button id="mensaje" type="button" class="btn btn-warning">Mensaje</button><br><br>
        </div>

      </div>
    </div>

    <div id="seccion" class="container-fluid">
      <div class="row">
        <div class="col-md-1 col-md-push-2"></div>
        <div class="col-md-3 col-md-push-3">

          <div class="slide">
          <div id="main-slider" class="liquid-slider">
            <div>
              <h2 class="title">Calendario</h2>
              <h3 class="text-center">Sábado 12 de Abril</h3>
              <table class="table table-hover">
                <tr>
                  <td><a href="equipo1.html"><img src="images/bandera.png"></a></td>
                  <td>VS </td>
                  <td><a href="#"><img src="images/havana.png"></a> </td>
                </tr>
              </table>
              <p class="text-center"><button type="button" class="btn btn-primary">Detalles del partido</button></p><br><br>

             
              <h3 class="text-center">Sábado 19 de Abril</h3>
              <table class="table table-hover">
                <tr>
                  <td><a href="equipo1.html"><img src="images/bandera.png"></a></td>
                  <td>VS </td>
                  <td><a href="#"><img src="images/havana.png"></a> </td>
                </tr>
              </table>
              <p class="text-center"><button type="button" class="btn btn-primary">Detalles del partido</button></p><br><br>


              <h3 class="text-center">Sábado 26 de Abril</h3>
              <table class="table table-hover">
                <tr>
                  <td><a href="equipo1.html"><img src="images/bandera.png"></a></td>
                  <td>VS </td>
                  <td><a href="#"><img src="images/havana.png"></a> </td>
                </tr>
              </table>
              <p class="text-center"><button type="button" class="btn btn-primary">Detalles del partido</button></p>

            </div>

            <div>
              <h2 class="title">Equipos</h2>
            
                <ul><a href="equipo1.html">Hooligans (3 lugares)</a></ul>
                <ul><a href="equipo1.html">Barcelona (3 lugares)</a></ul>
                <ul><a href="equipo1.html">Real Madrid (2 lugares)</a></ul>
                <ul><a href="equipo1.html">Nasdrovia (4 lugares)</a></ul>
                <ul><a href="equipo1.html">Cuatrocientosveinte (2 lugares)</a></ul>                
             
            </div>       

            <div>
              <h2 class="title">Feed Social</h2>
              <h4><a href="perfil.html">Oceania</a></h4>
              <p>Recuerden hidratarse antes y depsues de cada partido, la salud es lo más importante</p>
              <p id="timestamp">Hace 2 horas</p><br><br>
              <h4><a href="perfil.html">Oceania</a></h4>
              <p>El equipo <a href="#">@Real 18</a> queda suspendido por dar positivo en dopaje</p>
              <p id="timestamp">Hace 12 horas</p><br><br>
              <h4><a href="perfil.html">Oceania</a></h4>
              <p>Recuerden inscribirse en nuestro torneo relampago <a href="#">@BarriosLocos</a>, ultima semana.</p>
              <p id="timestamp">Hace 3 días</p>
            </div>          
          </div>
          </div>
        </div>
      </div>
    </div>


    <footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
      <script src="./js/jquery.liquid-slider.min.js"></script>  
      <script>
        $('#main-slider').liquidSlider();
      </script>
    </footer>